/* Seção Sobre */
.section_sobre {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.h1_sobre {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.texto_sobre {
    font-size: 1.1em;
    line-height: 1.8;
    color: #555;
}

/* Botão "Saiba Mais" */
.button a {
    text-decoration: none;
    color: #fff;
}

.button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:#464545;
}
